body {
	padding: 0 0.8rem;
}

/* NAVBAR */
.logo {
	font-size: 20px;
}

/* HERO SECTION */
.banner h1 {
	font-size: 48px;
}

/* HERO SECTION */
.cards-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 3rem;
}

/* LATEST NEWS */
.news a {
	font-size: 14px;
}

.tags a {
	font-size: 12px;
}

.more-news {
	margin: 2rem 0;
}

.services-cards-container {
	grid-template-columns: repeat(1, 1fr);
}
