body {
	padding: 0 0.5rem;
}

/* NAVBAR */
header .container {
	height: 120px;
}

.show {
	top: 120px;
}

/* HERO SECTION */
.hero-section {
	height: calc(100vh - 120px);
}

.banner {
	height: 95%;
	padding: 0.6rem;
}

.banner h1 {
	font-size: 38px;
}

/* FOOTER */
.links-and-socials {
	flex-direction: column;
	align-items: flex-start;
}

.footer-address {
	justify-content: flex-start;
	text-align: left;
}
